body{
font-family: 'Press Start 2P', cursive;
background: #3e4ef0;
text-align: center;
color: white;

}

.page-header {
  border-bottom: 10px solid white;
  color: white;
}

#game-board {
  max-width:600px;
  margin: auto;
  padding-bottom: 20px;
}

.space, .space2, .space3 {
  width: 50px;
  height: 50px;
  background: #3e4ef0;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 2px solid #fff;
  font-size: 24px;
}

#grid, #grid2, #grid3, #grid4, #grid5, #grid6, #grid7, #grid8, #grid9 {
  margin: 2rem auto;
  max-width: 150px;
}

.row {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

.col-sm-4 {
  border-left: 5px solid white;
  border-right: 5px solid white;
}

#winner {
  text-align: center;
}

#player-turn{
  display: block;
  text-align: center;
}

.custom-button {
  width: 100px;
  height: 45px;
  background: red;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: -5px -5px #990000 inset;
  text-align: center;
}

.custom-button:active, .custom-button:target {
  background: red;
  padding: 5px 0 0 5px;
  box-shadow: 5px 5px #3e4ef0 inset;
}

.restart, .restart a{
  color: white;
  margin-top: 15px;
}
